body, html{
	margin: 0;
    overflow-x: hidden;
}
nav ul li a{
    font-size: 20px !important;
}
#welcome-section{
    height: 100vh;
	width: 100%;
	background-color: rgb(129 129 212 / 40%);
	margin: 0;
	padding: 50px 0;
	display: flex;
    justify-content: center;
    align-items: center;
}
#welcome-section h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
    text-align: center;
}
#welcome-section h1 span{
	display: block;
	color: rgb(255, 0, 0);
}
/*Start pur projects*/
#projects{
    background-color: #ecd8d8;
    margin-bottom: 20px;
    padding: 10px 0;
}
#projects .project-tile{
    text-align: center;
}